@{
    ViewBag.Title = "Software";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="Software" style="height: 800px;">
    <div class="top-line">
        <h1 class="metro-title">Software Development</h1>
    </div>
    <div class="content-section">
        <div class="left-section">
            <h2 class="metro-title">Services:</h2>
            <ul class="benefits">
                <li>
                    <h3 class="metro-title">Developer Staff Leasing</h3>
                </li>
                <li>
                    <h3 class="metro-title">.NET Application Development</h3>
                </li>
                <li>
                    <h3 class="metro-title">PHP Development</h3>
                </li>
                <li>
                    <h3 class="metro-title">WPF &amp; Silverlight Development</h3>
                </li>
                <li>
                    <h3 class="metro-title">Application Development for Mobile Devices</h3>
                </li>
                <li>
                    <h3 class="metro-title">Java, C++, C#, Visual Basic, Perl and More</h3>
                </li>
                <li>
                    <h3 class="metro-title">Social Networking Application</h3>
                </li>
                <li>
                    <h3 class="metro-title">Moderation Applications</h3>
                </li>
            </ul>

            <h2 class="metro-title">Benefits:</h2>
            <ul class="benefits">
                <li>
                    <h3 class="metro-title">Access to Best Practices</h3>
                </li>
                <li>
                    <h3 class="metro-title">Costs – Fraction of Local Market</h3>
                </li>
                <li>
                    <h3 class="metro-title">Experienced Developers</h3>
                </li>
                <li>
                    <h3 class="metro-title">No Capital Investment</h3>
                </li>
                <li>
                    <h3 class="metro-title">Focus on Core Business</h3>
                </li>
                <li>
                    <h3 class="metro-title">Guaranteed Results</h3>
                </li>
            </ul>
        </div>
        <div class="right-section">
            <h2 class="metro-title">Skilled developers, proper planning and proven development processes will ensure the success of your project.</h2>
            <p>
                Surveys have shown that a large percentage of software development projects fail; due to cost overruns, missing functionality, 
                schedule delays or some combination of those and other factors. Developing an application is a serious and complex business that 
                requires foresight, planning, skill and discipline. And because most companies don’t possess sufficient development expertise or 
                resources in-house, the choice of a development partner becomes an additional variable in the process. Whether you require a fully 
                managed solution or are only seeking supplemental staff to integrate with an existing team, your selection of a partner will be a 
                key factor in dooming or boosting your chances for success.
            </p>
            <p>
                SnowOwl is dedicated to the success of your project and we bring years of development experience to each and every project we handle. 
                Our domain expertise extends from project planning, recruitment and infrastructure support; to development process implementation, design, 
                architecture, coding, testing, QA, deployment, support and more. At the core of our vision is a set of excellence metrics attached to even 
                the smallest of our tasks; an intense focus on detail and process that allows us to keep even the most complex and challenging projects on track.
            </p>
            <p>
                SnowOwl’s expertise, experience, attitude and intrinsically low costs provide the roadmap for successfully navigating the development process. 
                Please give us a call today for a free consultation and experience a new standard in offshore software development. There is never any obligation 
                until you have found the perfect fit for your business.
            </p>
        </div>
    </div>
</section>