<div onclick=" javascript:window.location.href = '@Url.Action("Index", "Company")';">
    <div id="logoContainer">
        <img src="@Url.Content("~/Content/images/newlogo.jpg")"  alt="Crasowl Company logo" height="55px"/>
    </div>
    <div id="titles">
        <h1>
            Crasowl</h1>
        <h2>
            Software development company</h2>
    </div>
</div>
