<section onclick="javascript:window.location.href = '@Url.Action("Index", "Company")';">
    <img src="@Url.Content("~/Content/images/newlogo.jpg")" alt="Crasowl logo"/>
    <h3 class="metro-title">Crasowl</h3>
    <h4 class="metro-title">Software Development Company</h4>
</section>