<script src="@Url.Content("~/Scripts/slides.min.jquery.js")" type="text/javascript"> </script>
<script type="text/javascript">
    $(function () {
        // Set starting slide to 1
        var startSlide = 1;
        // Get slide number if it exists
        if (window.location.hash) {
            startSlide = window.location.hash.replace('#', '');
        }
        // Initialize Slides
        $('#slides').slides({
            preload: true,
            preloadImage: 'img/loading.gif',
            generatePagination: true,
            play: 5000,
            pause: 2500,
            hoverPause: true,
            // Get the starting slide
            start: startSlide,
            animationComplete: function (current) {
                // Set the slide number as a hash
                window.location.hash = '#' + current;
            }
        });
    });
</script>
<style type="text/css">
    #slides{float:left;}
    .slides_container, .slide {width: 800px;height: 295px;overflow: hidden;}
    .slide {background-color: Aqua;padding: 20px 10px;display: block; }
    .pagination {margin: 7px auto 0; width: 100px;}
    .pagination li {float: left;margin: 0 3px;list-style: none;background-color: #F99420;}
    .pagination li a {display: block; width: 12px;height: 0;padding-top: 12px;box-shadow: 0 0 3px black;float: left;overflow: hidden;}
    .pagination li a:hover {box-shadow: 0 0 7px black;background-color: #E57620; }
    .pagination li.current a {background-color: #E96207;}
    .slide-tile{width:260px;height:120px;}
    .slide-tile h3{margin: 10px 0 0 10px;}
    .slide-tile p{margin: 5px 15px 0 10px;}
</style>
<div id="slides">
    <div class="slides_container">
        <div class="slide" style="background-image: url('Content/images/slide2.jpg')">
            <div class="tile slide-tile" style="background-color:#647687;position:relative;top:140px;">
            <h3>
            WHO WE ARE
            </h3>
            <p>
            Crasowl is the software development and information technology offshore outsourcing company
            </p>
            </div>
        </div>
        <div class="slide" style="background-image: url('Content/images/slide1.jpg')">
            <div class="tile slide-tile" style="background-color:#A4C400;position:relative;top:140px;left:500px">
            <h3>
            WHAT WE DO
            </h3>
            <p>
            Crasowl produces innovative software solutions and services to many indastries Healthcare, Finance, Telecoms, etc.
            </p>
            </div>
        </div>
        <div class="slide" style="background-image: url('Content/images/slide3.jpg')">
             <div class="tile slide-tile" style="background-color:#D71300;position:relative;top:20px;left:20px">
            <h3>
           HOW WE DO IT
            </h3>
            <p>
            Following AGILE development practises enables us to deliver flexible and adaptive software solutions and services.
            </p>
            </div>
        </div>
    </div>
</div>
