<div class="social-panell" style="float: left;">
    <ul>
        <li id="twitter" style="margin: 0;">
            <span>Follow us</span>
        </li>
        <li id="facebook">
            <span>Join us</span>
        </li>
        <li id="quote" style="margin-top: 4px; margin-right: 0;">
            <span>Ask for a quote</span>
        </li>
    </ul>
</div>