<section onclick="javascript:window.location.href = '@Url.Action("Index", "Company")';">
    <img src="@Url.Content("~/Content/images/newlogo.jpg")"/>
    <h3>SnowOwl</h3>
    <h4>Software Development Company</h4>
</section>