<style>
    .social-panell {float: right;margin-top: 25px; width:200px;}
    .social-panell ul{ list-style: none;}
    .social-panell ul li{background-color: #868686;width: 75px;height: 75px;display: inline-block;cursor: pointer; position: relative; background-repeat: no-repeat;background-position: center 5px; margin: 0;}
    .social-panell ul li:hover {background-color: #00aba9;}
    .social-panell ul li#twitter { background-image: url('../../Content/images/twitter123.png'); }
    .social-panell ul li span{ color: white; position: absolute; top: 55px; left: 5px; }
    .social-panell ul li#facebook {background-image: url('../../Content/images/Facebook123.png'); }
    .social-panell ul li#quote {width: 154px;}
</style>

<div class="social-panell" style="float: left;">
    <ul>
        <li id="twitter" style="margin: 0;">
            <span>Follow us</span>
        </li>
        <li id="facebook">
            <span>Join us</span>
        </li>
        <li id="quote" style="margin-top: 4px; margin-right: 0;">
            <span>Ask for a quote</span>
        </li>
    </ul>
</div>