<nav>
    <ul id="menu-bar">
        <li><a href="#">Home</a></li>
        <li>
            <a href="#">Technologies</a>
            <ul>
                <li>@Html.ActionLink("Web Applications", "Web", "Development")</li>
                <li>@Html.ActionLink("Web Services", "WebServices", "Technologies")</li>
                <li><a href="#">Desktop Applications</a></li>
                <li><a href="#">RIA</a></li>
                <li><a href="#">Data Access</a></li>
                <li><a href="#">Mobile</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">CMS</a></li>
                <li><a href="#">UI Components</a></li>
            </ul>
        </li>
        <li><a href="#">Portfolio</a>
            <ul>
                <li><a href="#">Web Technologies</a></li>
                <li><a href="#">Desktop Solutions</a></li>
                <li><a href="#">Mobile Applications</a></li>
            </ul>
        </li>
        <li><a href="#">Carrers</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</nav>