<script src="@Url.Content("~/Scripts/slides.min.jquery.js")" type="text/javascript"> </script>
<script type="text/javascript">
    $(function () {
        var startSlide = 1;
        if (window.location.hash) {
            startSlide = window.location.hash.replace('#', '');
        }
        $('#slides').slides({
            preload: true,
            preloadImage: 'img/loading.gif',
            generatePagination: true,
            play: 10000,
            pause: 2500,
            hoverPause: true,
            start: startSlide,
            animationComplete: function (current) {
                window.location.hash = '#' + current;
            }
        });
    });
</script>
<div id="slides">
    <div class="slides_container">
        <div class="slide">
            <img src="@Url.Content("~/Content/images/slide1.jpg")"/>
        </div>
        <div class="slide">
            <img src="@Url.Content("~/Content/images/slide2.jpg")"/>
        </div>
        <div class="slide">
            <img src="@Url.Content("~/Content/images/slide3.jpg")"/>
        </div>
    </div>
</div>
