@{
    ViewBag.Title = "Web";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_ContactUsDialogPartial")
<section id="Web" style="height: 800px;">
    <div class="top-line">
        <h1 class="metro-title">Web development</h1>
    </div>
    <div class="content-section">
        <div class="left-section">
            <h2 class="metro-title">Features and Benefits</h2>
            <p>
                We offer an integrated suite of enterprise web solutions, including web applications, 
                website design and development, web services and etc.
            </p>
            <ul class="benefits">
                <li>
                    <h3 class="metro-title">Wide Experience: .NET, ASP.NET, MVC, PHP</h3>
                </li>
                <li>
                    <h3 class="metro-title">MSSQL, MySQL and More</h3>
                </li>
                <li>
                    <h3 class="metro-title">HTML5 &amp; CSS3</h3>
                </li>
                <li>
                    <h3 class="metro-title">Silverlight</h3>
                </li>
                <li>
                    <h3 class="metro-title">Web services</h3>
                </li>
                <li>
                    <h3 class="metro-title">Cost Savings</h3>
                </li>
                <li>
                    <h3 class="metro-title">Domain Expertise</h3>
                </li>
                <li>
                    <h3 class="metro-title">Project-Based or Staff Leasing</h3>
                </li>
                <li>
                    <h3 class="metro-title">Experience, Motivated Developers</h3>
                </li>
                <li>
                    <h3 class="metro-title">Proven Recruiting Methods</h3>
                </li>
                <li>
                    <h3 class="metro-title">State-of-the-Art Equipment</h3>
                </li>
                <li>
                    <h3 class="metro-title">In-House Knowledge Base</h3>
                </li>
                <li>
                    <h3 class="metro-title">Guaranteed Best Practices</h3>
                </li>
                <li>
                    <h3 class="metro-title">From Planning Through Roll Out and QA</h3>
                </li>
            </ul>
        </div>
        <div class="right-section">
            <h2 class="metro-title">Make the most of your resources by outsourcing your web development to experts from SnowOwl.</h2>
            <p>
                The internet has created new efficiencies in many existing businesses and opened up other completely new avenues of business. 
                But creating dynamic internet business solutions requires expertise and technical skill. And while there are many automated 
                tools available to create simple offerings such as storefronts, most serious businesses require in-depth customized development. 
                Unfortunately, specialized web development is labor intensive and costly. Many companies have turned to offshore outsourcing to 
                lower their costs and help them achieve ambitious plans, but this method also presents challenges, such as communication, integration, and oversight. 
                At SnowOwl, we are dedicated to answering these challenges and making it easy and efficient for companies to work with experienced, 
                highly talented web-developers in the Philippines for a fraction of the cost of local markets.
            </p>
            <p>
                Our extensive experience in virtually all aspects of web development ensures that best practices will be in place for each stage of your project. 
                We have expertise in recruiting the best developers and then supporting them with our company-wide core knowledge base. Whether you choose a 
                project-based program or your own dedicated team of developers, you can be sure that we will provide them every tool to enable them to realize your vision. 
                Please contact us to discuss your plans and learn how we might be able to help you maximize your resources. There is never any obligation until you have 
                found the perfect fit for your needs.
            </p>
            <p>
                <a href="javascript:showContactUsDialog();" class="metro-button">Ask For a Quote</a>
            </p>
        </div>
    </div>
</section>